data:
  folder: "data_folder"

results:
  folder: "results_folder"

reference:
  folder: "reference_folder"
  genome: "genome.fa"

known_sites:
  folder: "known_sites_folder"
  filename: "ex: resources_broad_hg38_v0_Homo_sapiens_assembly38.dbsnp138.vcf"

filtering:
  params: "ex: -i 'QUAL > 30 && INFO/DP > 10'"

vep:
  cache_dir: ""
  zip_name: "ex: homo_sapiens_vep_112_GRCh38.tar.gz"
  url: "ex: https://ftp.ensembl.org/pub/release-112/variation/indexed_vep_cache/homo_sapiens_vep_112_GRCh38.tar.gz"
  image: "ex: docker://ensemblorg/ensembl-vep:release_112.0"
  filters: "--filter "
  impact_levels: [ "MODERATE", "HIGH"]
  species: "ex: homo_sapiens"